main{
	padding: 0 11%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	color: #343434;

}
.breadcrums{
	grid-row: 1/2;
	grid-column: 1/4;
}
.top h2{
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;

}
h2{
	border-bottom: 1px solid #f1f1f1;
	font-weight: 700;
	font-size: 2em;
	padding-bottom: 1em;
	grid-row: 2/3;
	grid-column: 1/2;
}
.del{
	margin-top: 2.3em;
	grid-column: 2/3;
	grid-row: 2/3;
	place-self: start end;

}
.del a{
	text-decoration: none;
	color: #E253B6;
}
.products-to-buy{
	grid-column: 1/3;
	grid-row: 3/4;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
}
.product-to-buy{
	padding: 2%;
	border-bottom: 1px solid #d2d2d2;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.product-to-buy >*{
	margin: auto;
}
.product-to-buy h3{
	margin: 0 0 0.5em 0;
}

.product-to-buy .desc{
	font-size: 0.8em;
}
.product-to-buy:last-child{
	border:none;
}


.product-to-buy .wrap-img{
	grid-column: 1/2;
	grid-row: 1/2;
	display: block;
}
.product-to-buy .wrap-img img{
	max-width: 80%;
	max-height: 80%;
	height: -moz-fit-content;
	display: block;
	margin: auto;
}
.product-to-buy .container-info{
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	flex-direction: column;
	margin: auto;

}
.product-to-buy .number{
	grid-column: 3/4;
	grid-row: 1/2;
	margin: auto;
	background: #F3F3F9;
	border-radius: 4px;
	padding: 7%;
}
.product-to-buy .number button{
	border:none;
	background: rgba(0,0,0,0);
}
.product-to-buy .price{
	grid-column: 4/5;
	grid-row: 1/2;
	margin: auto;

}
.product-to-buy .delete{
	grid-column: 5/6;
	grid-row: 1/2;
	margin: auto;
	background: url(../product-cart/del.svg);
	width: 20%;
	height: 25%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	border: none;
	place-self: start end;
}




.price:after{
	content: " ₽";
}



.buy >*{
	margin: auto 0;
}
.buy{
	border: 1px solid #D2D2D2;
	border-radius: 4px;
	padding: 1%;
	position: fixed;
	left: 70%;
	top: 9.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	width: 20%;
	background: white;
	z-index: 1;
}
.buy .price{
	font-size: 1.9em;
	color: #E253B6;
	font-weight: 700;
	grid-row: 1/2;
	grid-column: 2/3;
	place-self: start end;
}
.buy h3{
	grid-column: 1/2;
	grid-row: 1/2;
}



.buy button{
	grid-column: 1/3;
	grid-row: 2/3;
	color: white;
	background: #E253B6;
	border: none;
	border-radius: 4px;
	margin-top: 1em;
	height: 3em;
	display: block;
}

.top {
	padding: 3% 11%;
}

.top .desc {
	padding: 3%;
}

.top .content {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}

.top .product {
	width: 90%;

}

.top .product img {
	width: 100%;
}

.top .product:nth-child(1) {
	grid-column: 1/2;
}

.top .product:nth-child(2) {
	grid-column: 2/3;
}

.top .product:nth-child(3) {
	grid-column: 3/4;
}

.top .product:nth-child(4) {
	grid-column: 4/5;
}

.top .product:nth-child(5) {
	grid-column: 5/6;
}

.top .p-top {
	margin-left: -13%;
	margin-top: 1%;
	padding: .1% .3%;
	background: #E253B6;
	color: white;
	position: absolute;
	border-radius: 4px;
}

.top .price {
	padding: 1% 0;
	font-size: 1.3em;
	font-weight: 700;
}

.top .desc {
	text-align: center;
}

.top .description {
	font-size: .9em;
	text-align: center;
}

.top .price::after {
	content: " ₽";
}

.top .product > input {
	display: none
}

.top .product > input:checked + label {
	background: url(../main/top-liked.svg);
}

.top .product > label {
	margin-top: -6%;
	margin-left: 10.5%;
	position: absolute;

	display: block;
	width: 36px;
	height: 36px;
	background-size: 100% 100% !important;
	background: url(../main/top-like.svg);
}

.top form button {
	background: #E253B6;
	border: none;
	padding: 5%;
	border-radius: 4px;
	color: white;
	font-size: 0.7em;
}

.top form {
	opacity: 0;
	padding: 2% 0;
}

.top .product:hover form {
	opacity: 1
}

.top .content-mobile {
	display: none;
}

.top form a {
	color: #E253B6;
	font-size: 0.7em;
}

@media (max-width: 700px){
	main{
		grid-template-columns: 1fr 1fr;
	}

	.buy{
		position: static;
		grid-column: 1/3;
		grid-row: 4/5;
		width: auto;
		margin-top:5%;
		padding: 5%;
	}

	.product-to-buy{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 0.5em 0;
	}

	.product-to-buy .container-info{
		grid-column: 2/4;
	}
	.product-to-buy .number{
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.product-to-buy .price{
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.swiper-slide .product {
		margin: 0 auto;
	}

	.product-to-buy .delete{
		grid-column: 3/4;
		grid-row: 2/3;
		height: 90%;
		width: 30%;
	}
	h2{
		border:none;
		margin-bottom: 0;
	}

	.top form {
		opacity: 1 !important;
		padding: 2% 0;
	}

	.content-pc {
		display: none !important;
	}

	.content-mobile {
		display: block !important;
	}

	.content-mobile .product {
		width: 70% !important;
	}

	.content-mobile .product > label {
		margin-top: -86%;
		margin-left: 61%;
	}

	.content-mobile .product form a {
		display: none;
	}

	.content-mobile .product form button {
		width: 100%;
	}

	.content-mobile .swiper-wrapper {
		margin-top: 3.5rem;
	}

	.content-mobile .product .description {
		text-align: left;
	}

	.top .p-top {
		margin-left: -68%;
		margin-top: -8%;
		padding: 0.4rem;
	}

	 .top .p-top {
    margin: 0;
    margin-top: -2.5rem;
  }

  .product{
    display: grid;
    padding-bottom: 1rem;
  }
  .product .p-top{
  
  }
  .product>label{

    position: absolute;
     margin: -2.5rem 0 0 0!important;
     right: 2.4rem;
     place-self: start end;
  }

}
